footer {
    background-color: #0749a0;
    padding: 5%;
    height: 100px;
    .footer-lista{
        display: flex;
        justify-content: space-around;
        align-content: center; 
        li{
            list-style-type:none;
            a .fab{
                color: azure;
            }
        }
    }
}